.container
  .page-header
    %h1 Список сотрудников
  .responsive-table
    %table{class: "table table-hover"}
      %thead
        %tr
          %th= User.human_attribute_name(:first_name)
          %th= User.human_attribute_name(:position)
          %th Кол-во активных проектов
      %tbody
        - @users.each do |u|
          %tr
            %td= "#{u.first_name} #{u.last_name}"
            %td= u.position
            %td= u.projects.active.size
