.container
  = simple_form_for customer do |f|
    = f.error_notification
    .form-inputs
      = f.input :title
      = f.input :comment
    .form-actions
      = f.button :submit, 'Сохранить', class: "btn btn-primary"
