%table
  %thead
    %tr
      %th Наименование
      %th Комментарий
      %th Команды
  %tbody
    - @customers.each do |c| 
      %tr
        %td= c.title
        %td= c.comment
        %td= button_to "Редактировать", edit_customer_path(c.id), method: :get, class: "btn btn-info" 
        %td= button_to "Удалить", customer_path(c.id), method: :delete, class: "btn btn-danger" 
%div
  = button_to "Создать", new_customer_path, method: :get, class: "btn btn-primary"

